<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav 
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56"
                 [opened]="!mobileQuery.matches">
        <mat-nav-list>
            <!-- Profile -->
            <div class="profile-card">
                <div class="header">
                    <h2>Fito Flix</h2>
                    <h3>Gerente de ventas</h3>
                </div>
            </div>
            
            <!-- Navigation Items -->
            <a mat-list-item routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a mat-list-item routerLink="/inventory">
                <mat-icon>inventory_2</mat-icon>
                <span>Inventario</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Toolbar -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="app-name">Sistema de inventario - Vienna</h1>
        
            <div class="right">
                <ul>
                    <li>
                        <button mat-icon-button>
                            <mat-icon>help_outline</mat-icon>
                        </button>
                    </li>
                    <li>
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>person_outline</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>exit_to_app</mat-icon>
                                <span>Cerrar sesión</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </mat-toolbar>

        <!-- Main Content -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-sidenav></app-sidenav>